<div class="form-group"
     [class.error]="value() == '<replace me>'">

  @switch (type()) {
    @case (OptionType.Text) {
      <label>
        <span class="name">{{ label() }}</span>
        <input type="text"
               class="form-control"
               [disabled]="value() == null"
               [ngModel]="value()"
               (ngModelChange)="onChange($event)" />
        @if (description()) {
          <span class="description">{{ description() }}</span>
        }
      </label>
    }

    @case (OptionType.Checkbox) {
      <label>
        <input type="checkbox"
               class="form-check-input"
               [disabled]="value() == null"
               [ngModel]="value()"
               (ngModelChange)="onChange($event)" />
        <span class="name">{{ label() }}</span>
        @if (description()) {
          <span class="description">{{ description() }}</span>
        }
      </label>
    }

    @case (OptionType.Password) {
      <label>
        <span class="name">{{ label() }}</span>
        <input type="password"
               class="form-control"
               [disabled]="value() == null"
               [ngModel]="value()"
               (ngModelChange)="onChange($event)" />
        @if (description()) {
          <span class="description">{{ description() }}</span>
        }
      </label>
    }
  }
</div>
