<div id="settings">
  <div id="accordion">
    <div id="left">
      <ng-container
        *ngTemplateOutlet="optionsList; context: serverContext">
      </ng-container>

      <div class="card">
        <app-path-pairs></app-path-pairs>
      </div>

      <ng-container
        *ngTemplateOutlet="optionsList; context: autoqueueContext">
      </ng-container>

      <ng-container
        *ngTemplateOutlet="optionsList; context: OPTIONS_CONTEXT_STAGING">
      </ng-container>

      <ng-container
        *ngTemplateOutlet="optionsList; context: OPTIONS_CONTEXT_EXTRACT">
      </ng-container>

      <ng-container
        *ngTemplateOutlet="optionsList; context: validateContext">
      </ng-container>

      <ng-container
        *ngTemplateOutlet="optionsList; context: OPTIONS_CONTEXT_DISCOVERY">
      </ng-container>
    </div>
    <div id="right">
      <ng-container
        *ngTemplateOutlet="optionsList; context: OPTIONS_CONTEXT_CONNECTIONS">
      </ng-container>

      <div class="card">
        <h3 class="card-header collapsible-header"
            role="button"
            tabindex="0"
            [attr.aria-expanded]="!advancedLftpCollapsed"
            (click)="toggleAdvancedLftp()"
            (keyup.enter)="toggleAdvancedLftp()"
            (keyup.space)="toggleAdvancedLftp(); $event.preventDefault()">
          {{ OPTIONS_CONTEXT_ADVANCED_LFTP.header }}
          <span class="collapse-indicator">{{ advancedLftpCollapsed ? '&#9654;' : '&#9660;' }}</span>
        </h3>
        @if (!advancedLftpCollapsed) {
          <div class="card-body">
            @for (option of OPTIONS_CONTEXT_ADVANCED_LFTP.options; track option.label) {
              <div>
                <app-option
                  [type]="option.type"
                  [label]="option.label"
                  [description]="option.description"
                  [choices]="option.choices || []"
                  [value]="getOptionValue(config$ | async, option.valuePath)"
                  (changeEvent)="onSetConfig(option.valuePath[0], option.valuePath[1], $event, option.requiresRestart)">
                </app-option>
              </div>
            }
          </div>
        }
      </div>

      <ng-container
        *ngTemplateOutlet="optionsList; context: OPTIONS_CONTEXT_LOGGING">
      </ng-container>

      <ng-container
        *ngTemplateOutlet="optionsList; context: OPTIONS_CONTEXT_OTHER">
      </ng-container>

      <div class="card">
        <h3 class="card-header">Notifications</h3>
        <div class="card-body">
          @for (option of OPTIONS_CONTEXT_NOTIFICATIONS.options; track option.label) {
            <div>
              <app-option
                [type]="option.type"
                [label]="option.label"
                [description]="option.description"
                [disabled]="!!option.disabled"
                [choices]="option.choices || []"
                [value]="getOptionValue(config$ | async, option.valuePath)"
                (changeEvent)="onSetConfig(option.valuePath[0], option.valuePath[1], $event, option.requiresRestart)">
              </app-option>
            </div>
          }
          <div class="notification-test-buttons">
            <div class="test-row">
              <button type="button" class="btn btn-sm btn-outline-secondary"
                      [disabled]="testingDiscord || !commandsEnabled"
                      (click)="onTestDiscord()">
                {{ testingDiscord ? 'Testing...' : 'Test Discord' }}
              </button>
              @if (discordResult) {
                <span class="test-result" aria-live="polite" aria-atomic="true"
                      [class.text-success]="discordResult.success"
                      [class.text-danger]="!discordResult.success">
                  {{ discordResult.message }}
                </span>
              }
            </div>
            <div class="test-row">
              <button type="button" class="btn btn-sm btn-outline-secondary"
                      [disabled]="testingTelegram || !commandsEnabled"
                      (click)="onTestTelegram()">
                {{ testingTelegram ? 'Testing...' : 'Test Telegram' }}
              </button>
              @if (telegramResult) {
                <span class="test-result" aria-live="polite" aria-atomic="true"
                      [class.text-success]="telegramResult.success"
                      [class.text-danger]="!telegramResult.success">
                  {{ telegramResult.message }}
                </span>
              }
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <app-integrations></app-integrations>
      </div>
    </div>
  </div>

  <div id="commands">
    <button
      type="button"
      class="button"
      appClickStopPropagation
      [disabled]="!commandsEnabled"
      (click)="!commandsEnabled || onCommandRestart()">
      <img src="assets/icons/refresh.svg" alt="" aria-hidden="true" />
      <span class="text">Restart</span>
    </button>
  </div>
</div>

<ng-template #optionsList let-header="header" let-options="options">
  <div class="card">
    <h3 class="card-header">{{ header }}</h3>
    <div class="card-body">
      @for (option of options; track option.label) {
        <div>
          <app-option
            [type]="option.type"
            [label]="option.label"
            [description]="option.description"
            [disabled]="!!option.disabled"
            [choices]="option.choices || []"
            [value]="getOptionValue(config$ | async, option.valuePath)"
            (changeEvent)="onSetConfig(option.valuePath[0], option.valuePath[1], $event, option.requiresRestart)">
          </app-option>
        </div>
      }
    </div>
  </div>
</ng-template>
