<div id="settings">
  <div id="accordion">
    <div id="left">
      <ng-container
        *ngTemplateOutlet="optionsList; context: serverContext">
      </ng-container>

      <div class="card">
        <app-path-pairs></app-path-pairs>
      </div>

      <ng-container
        *ngTemplateOutlet="optionsList; context: autoqueueContext">
      </ng-container>

      <ng-container
        *ngTemplateOutlet="optionsList; context: OPTIONS_CONTEXT_STAGING">
      </ng-container>

      <ng-container
        *ngTemplateOutlet="optionsList; context: OPTIONS_CONTEXT_EXTRACT">
      </ng-container>

      <ng-container
        *ngTemplateOutlet="optionsList; context: validateContext">
      </ng-container>

      <ng-container
        *ngTemplateOutlet="optionsList; context: OPTIONS_CONTEXT_DISCOVERY">
      </ng-container>
    </div>
    <div id="right">
      <ng-container
        *ngTemplateOutlet="optionsList; context: OPTIONS_CONTEXT_CONNECTIONS">
      </ng-container>

      <div class="card">
        <h3 class="card-header collapsible-header" (click)="toggleAdvancedLftp()">
          {{ OPTIONS_CONTEXT_ADVANCED_LFTP.header }}
          <span class="collapse-indicator">{{ advancedLftpCollapsed ? '&#9654;' : '&#9660;' }}</span>
        </h3>
        @if (!advancedLftpCollapsed) {
          <div class="card-body">
            @for (option of OPTIONS_CONTEXT_ADVANCED_LFTP.options; track option.label) {
              <div>
                <app-option
                  [type]="option.type"
                  [label]="option.label"
                  [description]="option.description"
                  [choices]="option.choices || []"
                  [value]="getOptionValue(config$ | async, option.valuePath)"
                  (changeEvent)="onSetConfig(option.valuePath[0], option.valuePath[1], $event)">
                </app-option>
              </div>
            }
          </div>
        }
      </div>

      <ng-container
        *ngTemplateOutlet="optionsList; context: OPTIONS_CONTEXT_LOGGING">
      </ng-container>

      <ng-container
        *ngTemplateOutlet="optionsList; context: OPTIONS_CONTEXT_OTHER">
      </ng-container>

      <ng-container
        *ngTemplateOutlet="optionsList; context: OPTIONS_CONTEXT_NOTIFICATIONS">
      </ng-container>

      <div class="card">
        <h3 class="card-header">Integrations</h3>
        <div class="card-body">
          <h5>Sonarr</h5>
          @for (option of OPTIONS_CONTEXT_INTEGRATIONS_SONARR.options; track option.label) {
            <div>
              <app-option
                [type]="option.type"
                [label]="option.label"
                [description]="option.description"
                [choices]="option.choices || []"
                [value]="getOptionValue(config$ | async, option.valuePath)"
                (changeEvent)="onSetConfig(option.valuePath[0], option.valuePath[1], $event)">
              </app-option>
            </div>
          }
          <div class="test-connection">
            <button class="btn btn-sm btn-outline-secondary" [disabled]="sonarrTesting" (click)="onTestSonarr()">
              {{ sonarrTesting ? 'Testing...' : 'Test Connection' }}
            </button>
            @if (sonarrTestResult) {
              <span class="test-result" [class.text-success]="sonarrTestResult.success" [class.text-danger]="!sonarrTestResult.success">
                {{ sonarrTestResult.message }}
              </span>
            }
          </div>

          <hr />

          <h5>Radarr</h5>
          @for (option of OPTIONS_CONTEXT_INTEGRATIONS_RADARR.options; track option.label) {
            <div>
              <app-option
                [type]="option.type"
                [label]="option.label"
                [description]="option.description"
                [choices]="option.choices || []"
                [value]="getOptionValue(config$ | async, option.valuePath)"
                (changeEvent)="onSetConfig(option.valuePath[0], option.valuePath[1], $event)">
              </app-option>
            </div>
          }
          <div class="test-connection">
            <button class="btn btn-sm btn-outline-secondary" [disabled]="radarrTesting" (click)="onTestRadarr()">
              {{ radarrTesting ? 'Testing...' : 'Test Connection' }}
            </button>
            @if (radarrTestResult) {
              <span class="test-result" [class.text-success]="radarrTestResult.success" [class.text-danger]="!radarrTestResult.success">
                {{ radarrTestResult.message }}
              </span>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="commands">
    <div
      class="button"
      appClickStopPropagation
      [attr.disabled]="commandsEnabled ? null : true"
      (click)="!commandsEnabled || onCommandRestart()">
      <img src="assets/icons/refresh.svg" />
      <span class="text">Restart</span>
    </div>
  </div>
</div>

<ng-template #optionsList let-header="header" let-options="options">
  <div class="card">
    <h3 class="card-header">{{ header }}</h3>
    <div class="card-body">
      @for (option of options; track option.label) {
        <div>
          <app-option
            [type]="option.type"
            [label]="option.label"
            [description]="option.description"
            [disabled]="!!option.disabled"
            [choices]="option.choices || []"
            [value]="getOptionValue(config$ | async, option.valuePath)"
            (changeEvent)="onSetConfig(option.valuePath[0], option.valuePath[1], $event)">
          </app-option>
        </div>
      }
    </div>
  </div>
</ng-template>
