<div id="settings">
  <div id="accordion">
    <div id="left">
      <ng-container
        *ngTemplateOutlet="optionsList; context: OPTIONS_CONTEXT_SERVER">
      </ng-container>

      <ng-container
        *ngTemplateOutlet="optionsList; context: OPTIONS_CONTEXT_AUTOQUEUE">
      </ng-container>

      <ng-container
        *ngTemplateOutlet="optionsList; context: OPTIONS_CONTEXT_EXTRACT">
      </ng-container>
    </div>
    <div id="right">
      <ng-container
        *ngTemplateOutlet="optionsList; context: OPTIONS_CONTEXT_CONNECTIONS">
      </ng-container>

      <ng-container
        *ngTemplateOutlet="optionsList; context: OPTIONS_CONTEXT_DISCOVERY">
      </ng-container>

      <ng-container
        *ngTemplateOutlet="optionsList; context: OPTIONS_CONTEXT_OTHER">
      </ng-container>
    </div>
  </div>

  <div id="commands">
    <div
      class="button"
      appClickStopPropagation
      [attr.disabled]="commandsEnabled ? null : true"
      (click)="!commandsEnabled || onCommandRestart()">
      <img src="assets/icons/refresh.svg" />
      <span class="text">Restart</span>
    </div>
  </div>
</div>

<ng-template #optionsList let-header="header" let-options="options">
  <div class="card">
    <h3 class="card-header">{{ header }}</h3>
    <div class="card-body">
      @for (option of options; track option.label) {
        <div>
          <app-option
            [type]="option.type"
            [label]="option.label"
            [description]="option.description"
            [value]="getOptionValue(config$ | async, option.valuePath)"
            (changeEvent)="onSetConfig(option.valuePath[0], option.valuePath[1], $event)">
          </app-option>
        </div>
      }
    </div>
  </div>
</ng-template>
