@use '../../common/common' as *;

#about {
    display: flex;
    justify-content: center;

    #wrapper {
        margin-top: 50px;
        text-align: center;

        #banner {
            display: flex;
            align-items: center;

            img {
                max-width: 80px;
                max-height: 80px;
            }
            span {
                margin-inline-start: 10px;
                color: var(--ss-logo);
                font-family: $logo-font;
                font-size: 300%;
                cursor: default;
                user-select: none;
            }
        }

        #version {
            font-size: 150%;
        }

        #icons {
            font-size: 80%;
        }
    }
}
