#autoqueue {
    padding: 15px;

    #status {
        margin-bottom: 20px;
    }

    #add-pattern {
        margin-bottom: 20px;
    }

    #patterns {
        h5 {
            margin-bottom: 10px;
        }
    }
}
