@use '../../common/common' as *;

#logs {
    padding: 5px 15px;
    font-family: monospace;
    font-size: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .log-marker {
        width: 100%;
        height: 2px;
    }

    .btn-scroll {
        @extend %button;
        position: sticky;
        display: none;

        &.visible {
            display: inherit;
        }
    }

    #btn-scroll-top {
        top: 0;
    }
    #btn-scroll-bottom {
        bottom: 0;
    }

    p.record {
        margin: 0;

        /* break up long text */
        overflow-wrap: normal;
        hyphens: auto;
        word-break: break-all;

        &.debug {
            color: var(--ss-log-debug);
        }

        &.info {
            color: var(--ss-log-info);
        }

        &.warning {
            color: var(--ss-log-warning-text);
            background-color: var(--ss-log-warning-bg);
            border-color: var(--ss-log-warning-border);
        }

        &.error, &.critical {
            color: var(--ss-log-error-text);
            background-color: var(--ss-log-error-bg);
            border-color: var(--ss-log-error-border);
        }

        span.traceback {
            display: block;
            white-space: pre-line;
            margin-inline-start: 30px;

            /* break up long text */
            overflow-wrap: normal;
            hyphens: auto;
            word-break: break-all;
        }
    }

    .connected {
        height: 12px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid var(--ss-log-divider);
        margin-bottom: 15px;

        span {
            background-color: var(--ss-log-divider-bg);
            font-size: 10px;
            padding: 5px;
        }
    }
}

/* Medium and large screens */
@media only screen and (min-width: $medium-min-width) {
    #logs {
        font-size: 95%;
    }
}
