<div id="logs">
  <button
    id="btn-scroll-top"
    type="button"
    class="btn btn-primary btn-scroll"
    [class.visible]="showScrollToTopButton"
    (click)="scrollToTop()">
    Scroll To Top
  </button>

  <div #logHead class="log-marker"></div>

  @for (record of records; track $index) {
    <p
      class="record"
      [class.debug]="record.level === LogLevel.DEBUG"
      [class.info]="record.level === LogLevel.INFO"
      [class.warning]="record.level === LogLevel.WARNING"
      [class.error]="record.level === LogLevel.ERROR"
      [class.critical]="record.level === LogLevel.CRITICAL">
      {{ record.time | date: 'yyyy/MM/dd HH:mm:ss' }} -
      {{ record.level }} -
      {{ record.loggerName }} -
      {{ record.message }}
      @if (record.exceptionTraceback) {
        <span class="traceback">{{ record.exceptionTraceback }}</span>
      }
    </p>
  }

  <div #logTail class="log-marker"></div>

  <button
    id="btn-scroll-bottom"
    type="button"
    class="btn btn-primary btn-scroll"
    [class.visible]="showScrollToBottomButton"
    (click)="scrollToBottom()">
    Scroll To Bottom
  </button>
</div>
