@use '../../common/common' as *;

#autoqueue {
    padding: 15px;

    #description {
        font-size: 100%;
    }

    #controls {
        &[disabled] {
            opacity: .65;
        }

        .pattern,
        #add-pattern {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            margin: 10px;

            .button {
                @extend %button;

                flex-grow: 0;
                flex-direction: row;
                padding: 8px;
                margin-inline-end: 12px;
                height: 35px;
                width: 35px;

                span {
                    font-size: 220%;
                    font-weight: 900;
                }
            }
        }

        .pattern {
            .text {
                font-size: 100%;
                font-family: monospace;
                white-space: pre-wrap;

                /* break up long text */
                overflow-wrap: normal;
                hyphens: auto;
                word-break: break-all;
            }

            .button {
                background-color: var(--ss-action-remove);
                border-color: var(--ss-action-remove-border);

                &:active {
                    background-color: var(--ss-action-remove-active);
                }

                &[disabled] {
                    opacity: .65;
                    background-color: var(--ss-action-remove);
                }
            }
        }

        #add-pattern {
            .button {
                background-color: var(--ss-action-add);
                border-color: var(--ss-action-add-border);

                &:active {
                    background-color: var(--ss-action-add-active);
                }

                &[disabled] {
                    opacity: .65;
                    background-color: var(--ss-action-add);
                }
            }

            label {
                margin-bottom: 0;
            }
        }
    }
}
