@import '../../common/common';

#header {
    .alert {
        padding: 5px;
        margin-bottom: 0;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button.btn-close {
            cursor: default;
            user-select: none;
            outline: none;
            opacity: .2;
            font-size: 100%;
            padding: 0;
            margin-left: auto;

            &:active {
                color: red;
            }

            &:hover {
                color: inherit;
                opacity: .5;
            }
        }
    }
}
