@import '../../common/common';

.file {
    padding: 10px;
}

.file.selected {
    background-color: $secondary-color;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px 0;
}

.content div {
    overflow-wrap: normal;
    hyphens: auto;
    word-break: break-all;
}

.content .status { width: 100px; min-width: 100px; }
.content .name { flex-grow: 1; flex-basis: calc(100% - 100px); }
.content .speed { width: 100px; min-width: 100px; }
.content .size { flex-grow: 1; }

.content > div {
    padding: 4px 4px;
    text-align: center;
    vertical-align: top;
}
.content .name { text-align: left; }

.content .name {
    display: flex;
    flex-direction: row;

    img {
        height: 20px;
        margin-right: 8px;
        margin-top: 1px;
    }

    .text {
        display: flex;
        flex-direction: column;

        .details {
            display: flex;
            flex-direction: column;

            .details-text {
                color: darkgray;
                font-size: 80%;
                line-height: 120%;

                .tab {
                    margin-left: 20px;
                }
            }
        }
    }
}

.content .status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 62px;
    max-height: 62px;

    img {
        height: 35px;
        width: 35px;
    }

    img#downloading, img#downloaded { width: 45px; }
    img#default-remote { width: 45px; height: 45px; }
    img#stopped { width: 30px; }

    .text {
        margin-top: 3px;
        font-size: 70%;
    }
}

.content .speed { font-size: 90%; }

.content .progress-bar { min-width: 2em; }
.content .progress { margin-bottom: 5px; height: 20px; }
.content .size_info { font-size: 80%; }

.content .eta { display: none; }
.content .speed .speed-eta { font-size: 90%; }

.actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: -10px;
}

.actions .button {
    @extend %button;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 60px;
    min-width: 60px;
    height: 60px;

    &:last-child { margin-right: 0; }

    .text {
        height: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
            font-size: 12px;
            text-align: center;
            line-height: 12px;
        }
    }

    img {
        width: 25px;
        height: 25px;
        filter: invert(1.0);
    }

    .loader {
        display: none;
        border: 5px solid white;
        border-top: 5px solid $secondary-dark-color;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    &.loading {
        opacity: 1.0;
        background-color: $secondary-dark-color;
        border-color: $secondary-darker-color;

        img { display: none; }
        .loader { display: block; }
    }
}

.actions { display: none; }
.file.selected .actions { display: flex; }

@media only screen and (min-width: $medium-min-width) {
    .file:not(.selected):hover {
        background-color: $secondary-light-color;
    }

    .content .status { width: 100px; min-width: 100px; }
    .content .name { flex-grow: 1; }
    .content .speed { width: 100px; min-width: 100px; }
    .content .eta { width: 100px; min-width: 100px; }
    .content .size { width: 30%; min-width: 30%; }

    .content {
        flex-wrap: nowrap;
        padding: 0 0;
    }

    .content .status { order: 2; }
    .content .name { order: 1; }
    .content .speed { order: 3; }
    .content .eta { order: 4; }
    .content .size { order: 5; }

    .content .eta { display: inline; }
    .content .speed .speed-eta { display: none; }
}
