<div id="settings">
    <div id="accordion" class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapse-server">
                    {{OPTIONS_CONTEXT_SERVER.header}}
                </button>
            </h2>
            <div id="collapse-server" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    @for (option of OPTIONS_CONTEXT_SERVER.options; track option.label) {
                        <app-option
                            [type]="option.type"
                            [label]="option.label"
                            [description]="option.description"
                            [value]="getConfigValue(config | async, option.valuePath[0], option.valuePath[1])"
                            (changeEvent)="onSetConfig(option.valuePath[0], option.valuePath[1], $event)">
                        </app-option>
                    }
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapse-autoqueue">
                    {{OPTIONS_CONTEXT_AUTOQUEUE.header}}
                </button>
            </h2>
            <div id="collapse-autoqueue" class="accordion-collapse collapse">
                <div class="accordion-body">
                    @for (option of OPTIONS_CONTEXT_AUTOQUEUE.options; track option.label) {
                        <app-option
                            [type]="option.type"
                            [label]="option.label"
                            [description]="option.description"
                            [value]="getConfigValue(config | async, option.valuePath[0], option.valuePath[1])"
                            (changeEvent)="onSetConfig(option.valuePath[0], option.valuePath[1], $event)">
                        </app-option>
                    }
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapse-connections">
                    {{OPTIONS_CONTEXT_CONNECTIONS.header}}
                </button>
            </h2>
            <div id="collapse-connections" class="accordion-collapse collapse">
                <div class="accordion-body">
                    @for (option of OPTIONS_CONTEXT_CONNECTIONS.options; track option.label) {
                        <app-option
                            [type]="option.type"
                            [label]="option.label"
                            [description]="option.description"
                            [value]="getConfigValue(config | async, option.valuePath[0], option.valuePath[1])"
                            (changeEvent)="onSetConfig(option.valuePath[0], option.valuePath[1], $event)">
                        </app-option>
                    }
                </div>
            </div>
        </div>
    </div>

    <div id="commands">
        <div class="button" appClickStopPropagation [attr.disabled]="commandsEnabled ? null : true"
             (click)="!commandsEnabled || onCommandRestart()">
            <img src="assets/icons/refresh.svg" alt="Restart" />
            <span class="text">Restart</span>
        </div>
    </div>
</div>
