<div id="header">
    @for (notif of notifications | async; track notif.timestamp) {
        <div class="alert"
             [class.alert-danger]="notif.level === NotificationLevel.DANGER"
             [class.alert-warning]="notif.level === NotificationLevel.WARNING"
             [class.alert-info]="notif.level === NotificationLevel.INFO"
             [class.alert-success]="notif.level === NotificationLevel.SUCCESS"
             [class.alert-dismissible]="notif.dismissible">
            @if (notif.dismissible) {
                <button type="button" class="btn-close"
                        (click)="dismiss(notif)"
                        aria-label="Close">
                </button>
            }
            <span [innerHTML]="notif.text"></span>
        </div>
    }
</div>
