@use '../../common/common' as *;

#sidebar {
  .button {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    font-weight: bolder;
    display: block;
    width: 100%;
    padding: 8px 16px;
    text-align: start;
    border: none;
    outline: none;
    white-space: normal;
    float: none;
    cursor: default;
    user-select: none;

    &:active {
      background-color: var(--ss-primary);
    }

    &.selected {
      background-color: var(--ss-secondary);
      color: white;
      border-color: var(--ss-sidebar-selected-border);

      img {
        filter: invert(1.0);
      }
    }

    &[disabled] {
      opacity: .65;
      background-color: inherit;
    }

    img {
      width: 18px;
      height: 18px;
      margin-inline-end: 4px;
      margin-bottom: 2px;
    }

    .fa-icon {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-inline-end: 4px;
      margin-bottom: 2px;
      text-align: center;
      font-size: 16px;
      line-height: 18px;
    }
  }

  hr {
    margin-top: 3px;
    margin-bottom: 3px;
    border: 1px solid var(--ss-header-dark);
  }
}

:host-context([data-bs-theme="dark"]) #sidebar .button img {
  filter: invert(0.85);
}
:host-context([data-bs-theme="dark"]) #sidebar .button.selected img {
  filter: invert(1.0);
}
