<div id="file-options"
     [style.top.px]="headerHeight | async"
     [class.sticky]="(options | async)?.pinFilter">
    <div id="filter-search">
        <img src="assets/icons/search.svg" />
        <div class="input-group">
            <input class="form-control" placeholder="Filter by name..." type="search"
                   [ngModel]="(options | async)?.nameFilter"
                   (ngModelChange)="onFilterByName($event)">
        </div>
    </div>

    <div id="filter-status" class="dropdown">
        <button class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown">
            <div class="title">
                Status:
            </div>
            <div class="selection">
                <!-- these divs only show the selected option -->
                @if ((options | async)?.selectedStatusFilter == null) {
                    <div class="sel-item" id="sel-item-all">
                        <div class="icon"></div>
                        <span class="text">All</span>
                    </div>
                }
                @if ((options | async)?.selectedStatusFilter === ViewFileStatus.EXTRACTED) {
                    <div class="sel-item">
                        <div class="icon"><img src="assets/icons/extracted.svg" class="extracted" /></div>
                        <span class="text">Extracted</span>
                    </div>
                }
                @if ((options | async)?.selectedStatusFilter === ViewFileStatus.EXTRACTING) {
                    <div class="sel-item">
                        <div class="icon"><img src="assets/icons/extracting.svg" class="extracting" /></div>
                        <span class="text">Extracting</span>
                    </div>
                }
                @if ((options | async)?.selectedStatusFilter === ViewFileStatus.DOWNLOADED) {
                    <div class="sel-item">
                        <div class="icon"><img src="assets/icons/downloaded.svg" class="downloaded" /></div>
                        <span class="text">Downloaded</span>
                    </div>
                }
                @if ((options | async)?.selectedStatusFilter === ViewFileStatus.DOWNLOADING) {
                    <div class="sel-item">
                        <div class="icon"><img src="assets/icons/downloading.svg" class="downloading" /></div>
                        <span class="text">Downloading</span>
                    </div>
                }
                @if ((options | async)?.selectedStatusFilter === ViewFileStatus.QUEUED) {
                    <div class="sel-item">
                        <div class="icon"><img src="assets/icons/queued.svg" class="queued" /></div>
                        <span class="text">Queued</span>
                    </div>
                }
                @if ((options | async)?.selectedStatusFilter === ViewFileStatus.STOPPED) {
                    <div class="sel-item">
                        <div class="icon"><img src="assets/icons/stopped.svg" class="stopped" /></div>
                        <span class="text">Stopped</span>
                    </div>
                }
            </div>
        </button>
        <div class="dropdown-menu">
            <div class="dropdown-item"
                 [class.active]="(options | async)?.selectedStatusFilter == null"
                 (click)="onFilterByStatus(null)">
                <div class="icon"></div>
                <span class="text">All</span>
            </div>
            <div class="dropdown-item"
                 [class.active]="(options | async)?.selectedStatusFilter === ViewFileStatus.EXTRACTED"
                 [class.disabled]="!isExtractedStatusEnabled"
                 (click)="onFilterByStatus(ViewFileStatus.EXTRACTED)">
                <div class="icon"><img src="assets/icons/extracted.svg" class="extracted" /></div>
                <span class="text">Extracted</span>
            </div>
            <div class="dropdown-item"
                 [class.active]="(options | async)?.selectedStatusFilter === ViewFileStatus.EXTRACTING"
                 [class.disabled]="!isExtractingStatusEnabled"
                 (click)="onFilterByStatus(ViewFileStatus.EXTRACTING)">
                <div class="icon"><img src="assets/icons/extracting.svg" class="extracting" /></div>
                <span class="text">Extracting</span>
            </div>
            <div class="dropdown-item"
                 [class.active]="(options | async)?.selectedStatusFilter === ViewFileStatus.DOWNLOADED"
                 [class.disabled]="!isDownloadedStatusEnabled"
                 (click)="onFilterByStatus(ViewFileStatus.DOWNLOADED)">
                <div class="icon"><img src="assets/icons/downloaded.svg" class="downloaded" /></div>
                <span class="text">Downloaded</span>
            </div>
            <div class="dropdown-item"
                 [class.active]="(options | async)?.selectedStatusFilter === ViewFileStatus.DOWNLOADING"
                 [class.disabled]="!isDownloadingStatusEnabled"
                 (click)="onFilterByStatus(ViewFileStatus.DOWNLOADING)">
                <div class="icon"><img src="assets/icons/downloading.svg" class="downloading" /></div>
                <span class="text">Downloading</span>
            </div>
            <div class="dropdown-item"
                 [class.active]="(options | async)?.selectedStatusFilter === ViewFileStatus.QUEUED"
                 [class.disabled]="!isQueuedStatusEnabled"
                 (click)="onFilterByStatus(ViewFileStatus.QUEUED)">
                <div class="icon"><img src="assets/icons/queued.svg" class="queued" /></div>
                <span class="text">Queued</span>
            </div>
            <div class="dropdown-item"
                 [class.active]="(options | async)?.selectedStatusFilter === ViewFileStatus.STOPPED"
                 [class.disabled]="!isStoppedStatusEnabled"
                 (click)="onFilterByStatus(ViewFileStatus.STOPPED)">
                <div class="icon"><img src="assets/icons/stopped.svg" class="stopped" /></div>
                <span class="text">Stopped</span>
            </div>
        </div>
    </div>

    <div id="sort-status" class="dropdown">
        <button class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown">
            <div class="title">
                Sort:
            </div>
            <div class="selection">
                <!-- these divs only show the selected option -->
                @if ((options | async)?.sortMethod === SortMethod.STATUS) {
                    <div class="sel-item">
                        <div class="icon"><img src="assets/icons/states.svg" class="states" /></div>
                        <span class="text">Status</span>
                    </div>
                }
                @if ((options | async)?.sortMethod === SortMethod.NAME_ASC) {
                    <div class="sel-item">
                        <div class="icon"><img src="assets/icons/sort-asc.svg" class="sort-asc" /></div>
                        <span class="text">Name A&#8594;Z</span>
                    </div>
                }
                @if ((options | async)?.sortMethod === SortMethod.NAME_DESC) {
                    <div class="sel-item">
                        <div class="icon"><img src="assets/icons/sort-desc.svg" class="sort-desc" /></div>
                        <span class="text">Name Z&#8594;A</span>
                    </div>
                }
            </div>
        </button>
        <div class="dropdown-menu">
            <div class="dropdown-item"
                 [class.active]="(options | async)?.sortMethod === SortMethod.STATUS"
                 (click)="onSort(SortMethod.STATUS)">
                <div class="icon"><img src="assets/icons/states.svg" class="states" /></div>
                <span class="text">Status</span>
            </div>
            <div class="dropdown-item"
                 [class.active]="(options | async)?.sortMethod === SortMethod.NAME_ASC"
                 (click)="onSort(SortMethod.NAME_ASC)">
                <div class="icon"><img src="assets/icons/sort-asc.svg" class="sort-asc" /></div>
                <span class="text">Name A&#8594;Z</span>
            </div>
            <div class="dropdown-item"
                 [class.active]="(options | async)?.sortMethod === SortMethod.NAME_DESC"
                 (click)="onSort(SortMethod.NAME_DESC)">
                <div class="icon"><img src="assets/icons/sort-desc.svg" class="sort-desc" /></div>
                <span class="text">Name Z&#8594;A</span>
            </div>
        </div>
    </div>

    <button id="toggle-details"
            type="button"
            class="btn btn-primary"
            [class.active]="(options | async)?.showDetails"
            (click)="onToggleShowDetails()">
        <div class="title">
            Details:
        </div>
        <div class="selection">
            <!-- these divs only show the selected option -->
            @if ((options | async)?.showDetails) {
                <div class="sel-item">
                    <div class="icon"></div>
                    <span class="text">Show</span>
                </div>
            }
            @if (!(options | async)?.showDetails) {
                <div class="sel-item">
                    <div class="icon"></div>
                    <span class="text">Hide</span>
                </div>
            }
        </div>
    </button>

    <div id="small-buttons">
        <button id="pin-filter"
                type="button"
                class="btn btn-primary"
                [class.active]="(options | async)?.pinFilter"
                (click)="onTogglePinFilter()">
            <i class="fa-solid fa-thumbtack"></i>
        </button>
    </div>
</div>
